<li class="list-posts__item post-selected">
    <div class='post-inner'>
        <div class="post-title">{{postTitle}}</div>
        <span class="fa-solid fa-trash button-remove js-post-remove" data-post-id="{{postId}}"></span>
        <input type="hidden" name="ymc_fg_selected_posts[]" value="{{postId}}">
    </div>
</li>