// Variables colors
$spiroDiscoBall: #1fc4ff;
$blue: #095c81;
$eerieBlack: #1F1F1F;
$dxfordBlue: #032F3F;
$yellowGreen: #28BC28;
$spanishGray: #9d9c9c;
$coolGrey: #9092B2;
$chineseSilver: #cccccc;
$cultured: #F6F6F6;
$platinum: #E0E4E9;
$antiFlashWhite: #F0F0F1;
$celadon: #b6deb9;
$fireOpal: #EF5151;
$yellowWarning: #e5b003;
$lemonChiffon: #FFF3CD;
$gambogeOrange: #856404;
$white: white;

// Breakpoint
$large: 1024px;
$medium: 768px;
$small:  570px;








